body,
html {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #333;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
td,
th {
  padding: 0.1em 0.5em;
}
th {
  font-weight: 700;
  text-align: left;
  background-color: rgba(238,238,238,0.3);
}
#list {
  width: 100%;
  border: 0 solid #aaa;
}
header img {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#content {
  width: 80%;
  margin: 0 auto;
}
#page_next {
  margin-bottom: 20px;
}
#page_prev {
  margin-bottom: 20px;
}
tr:hover {
  background-color: rgba(128,128,128,0.3);
}
.tr-title:hover {
  background-color: rgba(238,238,238,0.3);
}
.blog-name {
  color: #000;
  text-decoration: none;
}
.blog-name:hover {
  color: #000;
  border-bottom: 1px solid #000;
}
.gap {
  height: 0;
  border: 1px dotted rgba(128,128,128,0.3);
}
#page_next {
  float: left;
}
#page_prev {
  float: right;
}
