/*The main sheetstyle file*/
::selection {
  background-color: rgba(66,139,202,0.2);
}
body,
html {
  font-family: Lato, Tahoma, Geneva, sans-serif;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #333;
}
#content {
  width: 65%;
  max-width: 960px;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
th,
td {
  padding: 0.1em 0.5em;
}
th {
  font-weight: bold;
  text-align: left;
  background-color: #eee;
}
#list,
#projects {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0;
}
#projects {
  margin-top: 10px;
}
img {
  max-width: 80%;
}
header {
  padding-bottom: 10px;
}
header img {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  margin-right: 20px;
}
#blog-nav {
  float: right;
}
#blog-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#blog-nav li {
  display: inline;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#content {
  width: 80%;
  margin: 0 auto;
}
tr:hover {
  background-color: rgba(128,128,128,0.3);
}
.gap {
  height: 0;
  border: 1px dotted rgba(128,128,128,0.3);
}
#post-footer {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}
